@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, a, li {
    color: #1a181e;
}

p {
    color: #4d4d4d;
}

.launch-feature li:before{
    background-image: url("../public/star-purple.svg");
}

.scale-feature li:before {
    background-image: url("../public/star-blue.svg");
}

.manage-better li:before {
    background-image: url("../public/star-gray.svg");
}

.design {
    background: url("../public/vector-left.webp");
}

button {
    cursor: pointer;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    line-height: 26px;
    font-size: 18px;
    color: #1a181e;
    border: 1px solid #1a181e;
    background-color: transparent;
}

button:hover {
    position: relative;
    bottom: 1px;
}

.animated-element {
    opacity: 0;
    transform: translateZ(100%);
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
  }
  
  .animated-element.visible {
    opacity: 1;
    transform: translateZ(0);
  }

.plugins-container ul::before {
    content: "";
    background: url("../public/rectangle-left.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 224px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .plugins-container ul::after {
    content: "";
    background: url("../public/rectangle-right.svg");
    position: absolute;
    right: 0;
    top: 0;
    width: 224px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  @media (max-width: 576px) {
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
  }